.notification-container{
    display: flex;
    margin-bottom: 1rem;
}
.notification-container > *{
    margin-left: .5rem;
}
.profile-picture{
    width: 40px;
    height: 40px
}
.info-second-container{
    display: flex;
}
.name{
    font-weight: 800;
}
.place{
    font-weight: 800;
    color: var(--Blue);
}
.time{
    font-size: .8rem;
    color: var(--Grayish-blue);
}