header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header__notifications-container{
    display: flex;
    align-items: center;
}

h1{
    font-size: 1.5rem;
}
.notification-number{
    background-color: var(--Blue);
    color: var(--White);
    padding: .1rem .5rem;
    margin-left: .5rem;
    border-radius: .3rem;
    font-size: .8rem;
}
.mark-as-read{
    color: var(--Dark-grayish-blue);
}